body {
    background-color: #F9F9F9;
}

h1 {
    margin-left: 60px;
    color: #424242;
    font-size: 50px;
    font-weight: bold;
    font-family: "Copperplate"
}

#map {
    height: 450px;
    border: 2px solid black;

}

.place-card {
    border: 3px solid #F9F9F9;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    max-width: 280px;
}

.h5, h5 {
    font-size: 1.2rem;
}

.photo {
    width: 274px;
    height: auto;
    max-height: 200px;
}

#searchForm {
    font-size: large;
    border: 2px solid black;
    padding: 10px;
    background-color: #AAD9FF;
}

#placeSearch {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    /* margin-left: 0px; */
    padding-left: 0px;
}

#addressInputForm {
    padding: 10px 0px 10px 10px;
    background-color: #AAD9FF;
    border: 2px solid black;
    font-size: large;
}

.submitButton {
    background-color: #E8E8E8;
}

#placesContainer {
    justify-content: space-around;
    padding-bottom: 25px;
}

.addy {
    padding: 1px;
    background-color: #F8E09D;
    border: 2px solid #F5CE65;
    margin: 0px 0px 8px
}

.heart {
    font-size: larger;
    color: red;
}

.search-row {
    margin-top: 2%;
}

.restart {
    justify-content: space-around;
}

/* #refresh {
    background-color: #F8E09D;
    border: 2px solid #cea637;
    padding: 17px;
    /* position: absolute; */
/* margin: -2px; 
}*/

#startOver {
    background-color: #F8E09D;
    border: 2px solid #cea637;
    padding: 17px;
    /* position: absolute; */
    /* margin: -2px; */

}

footer {
    background-color: rgba(56, 56, 56, 0.8);
    color: #b1b1b1;
    padding: 30px;
    height: 90px;
}

#tagline {
    margin-top: -10px;
    margin-left: 60px;
    color: #818181;
    font-style: italic;
    font-family: "garamond";
}